###########################
# OmniROM common sepolicy
#

type sysfs_ioscheduler, fs_type, sysfs_type;
type sysfs_zram, fs_type, sysfs_type;
type sysfs_ksm, fs_type, sysfs_type;

# Recovery's "cache"
type recovery_cache_file, file_type, mlstrustedobject;
